<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CATALOGO</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <!--lINK CSS DE BOOSTRAP-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
  <script src="	https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <style>
    main {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

    }

    #unidades {
      width: 50px;
    }

    .card {
      margin: 20px;
    }

    .card img {
      height: 300px;
    }
    #opciones{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  </style>
</head>

<body>
  <%- include('../parciales/navbar')%>
    <main>
      <%catalogo.forEach(function(producto){%>

        <div class="card" style="width: 18rem;">
          <img src="https://source.unsplash.com/1600x900/?moda" class="card-img-top" alt="...">
          <div class="card-body">
            
            <h5 class="card-title">
              <%=producto.nombre%>

            </h5>
            <!-- <p class="card-text">
              <%=producto._id%>
            </p>-->
            <p class="card-text">
              <%=producto.descripcion%>
            </p>
            <p class="card-text">
              <%=producto.precio%>
            </p>

            <a href="#" class="btn btn-outline-success" role="button" data-bs-toggle="modal"
            data-bs-target="#exampleModal">
            ver producto
        </a>
            <button onclick="agregrarProducto('<%=producto._id%>', '<%=producto.nombre%>','<%=producto.precio%>')" class="btn btn-dark"><i
                class="bi bi-cart-plus"></i></button>

            <input type="number" id="unidades">
          </div>
        </div>
        <%})%>
        

    </main>


    <script type="text/javascript"> // indicarle al navegador qué lenguaje era el que usaba el script.

      var carroCompras = JSON.parse(localStorage.getItem('carroCompras'))|| []; //estamos buscando un arreglo yque es lo que esta guardado en el local store si no hay algo le decimos que si no esta lo cree

      function  agregrarProducto(id, nombre, precio){
        // estamos creando una funcion y la convertimos en un arreglo 
        carroCompras.push({'id': id,
        'nombre': nombre, 
         'precio': precio});
       // carroCompras.push(producto);// aqui le indicamos que a carro compras le vamos a agregar los atributos de productos y esto quedaria como un clave valor
        localStorage.setItem('carroCompras', JSON.stringify(carroCompras));// se convierte en string y se almacena
        console.log(carroCompras)
      
      }

      const div = document.getElementById('carritoContenido');

 function mostrarProducto(){
  div.innerHTML = ''
  carroCompras.forEach(elementoP => {


    const detalles = document.createElement('div');
    detalles.innerHTML = `
        <div class="d-flex justify-content-between">
            <div class="w-50">
              <img src="https://source.unsplash.com/1600x900/?moda" alt=""  class="img-fluid rounded-start" alt="producto">
            </div>
            <div>
              <p>${elementoP.nombre}</p>
              <p>${elementoP.precio}</p>
            </div>
        </div>
    

    `
    div.appendChild(detalles);
    //     <div class="card mb-3" style="max-width:400px;"  style="max-height:400px;">
//   <div class="row g-0">
//     <div class="col-md-4" style="max-height:50%;" >
//       <img src="https://source.unsplash.com/1600x900/?moda" class="img-fluid rounded-start" alt="producto" style="max-height:50%;" >
//     </div>
//     <div class="col-md-8">
//       <div class="card-body">
//         <h5 class="card-title">${elementoP.nombre}</h5>
//         <p class="card-text">${elementoP.precio}</p>

//         <div id="opciones">
//         <input type="number" class="form-control" value="1"  style="max-width:40%;">
//         <button type="button" id="eliminarp"class="btn btn-danger"  "><i class="bi bi-cart-x"></i></button>
//           </div>

//       </div>
//     </div>
//   </div>
// </div>
    
//     `<div class="card mb-3" style="max-width:400px;"  style="max-height:400px;">
//   <div class="row g-0">
//     <div class="col-md-4" style="max-height:50%;" >
//       <img src="https://source.unsplash.com/1600x900/?moda" class="img-fluid rounded-start" alt="producto" style="max-height:50%;" >
//     </div>
//     <div class="col-md-8">
//       <div class="card-body">
//         <h5 class="card-title">${elementoP.nombre}</h5>
//         <p class="card-text">${elementoP.precio}</p>

//         <div id="opciones">
//         <input type="number" class="form-control" value="1"  style="max-width:40%;">
//         <button type="button" id="eliminarp"class="btn btn-danger"  "><i class="bi bi-cart-x"></i></button>
//           </div>

//       </div>
//     </div>
//   </div>
// </div>`



//CAMBIAR DE LADO QUITE ESO DE AQUI
// const total = carroCompras.reduce((acumulador, el)=> acumulador + parseFloat(el.precio), 0).tofixed(2);
 
//  const preciototal = document.createElement('div');
//  preciototal.className="totalC";
//  preciototal.innerHTML=`total a pagar:$ ${total}</p>`
//  carroCompras.append(preciototal);
    
  });

 }

//boton= document.getElementById('eliminarp').addEventListener("click", eliminarProductoC());

// eliminar producto carrito 

function eliminarProductoC(){
  //metodo find para buscar el id del producto para eliminar
  const foundId = carroCompras.find((elementoP) => elementoP.id);

  carroCompras = carroCompras.filter((carritoId)=>{ //busco dentro del carrito y le pido que me busque todo los productos que sean diferentes al id de la linea 133 que es el producto que se desea eliminar 
    return carritoId !== foundId;
  })
  mostrarProducto();


  function limpiar(){
				elproducto = localStorage.getItem(elementoP.id);
				if (elproducto != "null" & elproducto != null){
				  alert("Limpiando " + elproducto )
				  localStorage.removeItem(elementoP.id);
				}else{
					alert("Nada que limpiar")
				}
			}


}


    </script>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
      integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
      crossorigin="anonymous"></script> <!--lINKS SCRIPS DE BOOSTRAP-->
</body>

</html>